@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
* {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

::-webkit-scrollbar {
    width: 10px;
    position: absolute;
    top: 66px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 10px 10px 5px lightgreen;
}

::-webkit-scrollbar-thumb {
    background: rgb(20, 148, 20);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: green;
}

a {
    text-decoration: none !important;
}

body {
    margin-top: 125px !important;
}

@media (max-width: 700px) {
    body {
        margin-top: 100px !important;
    }
}

.Toastify__toast-container {
    width: 50vw !important;
}

.Toastify__toast--default {
    background: black !important;
}

.Toastify__toast-body {
    margin: 10px !important;
}

.Toastify__toast {
    min-height: auto !important;
}

@media(max-width: 701px) {
    .Toastify__toast-container {
        width: 90vw !important;
        margin: 0 auto !important;
        bottom: 3rem !important;
        left: 50% !important;
        transform: translateX(-50%) !important;
    }
}

.react-confirm-alert {
    background: lightgreen;
    box-shadow: 2px 2px 20px 2px green;
    border-radius: 1rem !important;
}

.react-confirm-alert-body {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem !important;
    background: lightgreen !important;
    color: black !important;
}

.react-confirm-alert-body * {
    text-align: center !important;
    color: black !important;
}

.react-confirm-alert-body h1 {
    font-size: 1.5rem !important;
    margin-bottom: 1rem;
}

.react-confirm-alert-body input {
    border: 1px solid green;
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
}

.react-confirm-alert-button-group button {
    background: green !important;
    color: white !important;
    margin: 0 1rem !important;
}

@media(max-width: 500px) {
    .react-confirm-alert {
        max-width: 320px;
    }
    .react-confirm-alert-body {
        max-width: 320px;
    }
}